<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h4>科研成果、专利和软件</h4>
                    我们在RNA-lgand，RNA-siRNA/shRNA，RNA-protein的计算和设计上积累了大量科研经验，
                    <br>构建了<b>RNA Intelligence</b>计算平台，平台包括4个模块：<a href="http://software.ncRNAlab.org/" target="_blank">RNA-finder, RNA-structure, RNA-target, RNA-med</a> 。
                    <br>该平台不仅包含了很多创新性的方法学研究，也包括在HIV、HCV等病毒的靶标筛选上的应用性研究 (<a href="#ref">references</a>)。
                    <br>我们将会把这些科研成果应用在癌症、微生物感染等疾病的诊断、预防和治疗上。<br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2008</h4>
                                    <h4 class="subheading">[RNA-target] [RNA-structure] OligoWalk：siRNA design algorithm and server</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <b>我们的科研成果</b>: RNA secondary structure prediction algorithm and server (Nucleic Acids Res. 2006，RNA 2009, Nucleic Acids Res. 2015，2016）;
                                      siRNA design algorithm and server (Nucleic Acids Res. 2008a,b,c）。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2012</h4>
                                    <h4 class="subheading">[RNA-target] shRNA and small molecule screen for HIV, HCV, ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <b>我们的合作科研成果</b>：靶标HIV、HCV等病毒的shRNA设计(PNAS 2012)；靶标病毒的小分子药物组合的筛选（Natture Biotech. 2012) 。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2022</h4>
                                    <h4 class="subheading">[RNA-target] POSTAR: RNA structure and RNA-protein interaction database</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <b>我们的科研成果和软件</b>：RNA structure & RNA-protein 结合及调控数据库（著作权号：2016R11S367236）(Genome Biology 2017; Nucleic Acids Res. 2017b; 2019; 2022)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023-2024</h4>
                                    <h4 class="subheading">[RNA-med] AI based RNA modeling for medicine</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      <b>我们的科研成果和专利</b>：siRNA AI设计软件 OligoFormer (preprint 2024);  体液多组学 AI整合方法 PathFormer (Bioinformatics 2024);
                                      <br>基于机器学习的生物信息方法RNAfinder（专利号：201610806928.8）(Science 2010; Genome Res. 2011; Nucleic Acids Res. 2015;2017a;2018);
                                      <br>痕量RNA捕获和测序技术i-SMART (专利号：201810607652X）(Briefings in Bioinformatics 2018; Cell Research 2020)。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                    <br><br>
                    <h3 id="ref" class="section-subheading text-muted">
                    我们致力于生物信息学研究，利用机器学习等人工智能技术，结合高通量测序，来研究遗传信息是如何被编码在结构化的DNA和RNA分子之中，以及它们是如何在一个生命体系中相互作用、彼此调控。“上工治未病”，我们的使命之一，就是要帮助人们更早期的发现癌症。我们相信，这种使命感以及为此付出的实践和努力，将帮助我们理解和治疗人类疾病，并最终认识和提高我们自己。
                    </h3>
                    <HR>
                    <p>
                        <b>已发表科研论文:</b>
                        <ul>
                          <li><a href="https://www.ncrnalab.org/publications/pub.html#i-rna-finder">I. RNA-finder</a></li>
                          <li>II. RNA-target
                            <ul>
                              <li><a href="https://www.ncrnalab.org/publications/pub.html#ii-1-protein-targeting-rna">II. 1 Protein targeting RNA</a></li>
                              <li><a href="https://www.ncrnalab.org/publications/pub.html#ii-2-sirnashrna-targeting-rna">II. 2 siRNA/shRNA targeting RNA</a></li>
                              <li><a href="https://www.ncrnalab.org/publications/pub.html#ii-3-small-molecule-targeting-rna">II. 3 Small molecule targeting RNA</a></li>
                            </ul>
                          </li>
                          <li><a href="https://www.ncrnalab.org/publications/pub.html#iii-rna-structurestructurome">III. RNA-structure/structurome</a></li>
                          <li><a href="https://www.ncrnalab.org/publications/pub.html#iv-rna-med">IV. RNA-med</a></li>
                        </ul>
                       
                      <b>在研项目：</b>
                      <ul>
                        <li>国家自然科学基金 专项项目，82341101，基于AI技术的靶向RNA的药物设计，2024-2027 主持</li>
                        <li>国家自然科学基金 面上项目，82371855，自身免疫性疾病精准诊疗中基于非编码RNA组学和生物信息学的新方法研究，2024-2027 主持</li>
                        <li>国家自然科学基金 面上项目，3217040246，体液多组学数据整合的生物信息学研究及其在癌症无创检测上的应用，2022-2025 主持</li>
                        <li>国家自然科学基金 面上项目，81972798，针对癌症诊断和预后的新型体液exRNA标志物的研究，2020-2023 主持</li>
                        <li>国家“凤凰工程” 技术创新开放共享课题，2021-NCPSB-005，多组学整合的生物信息学研究，2021/07-2023/06 主持</li>
                        <li>清华大学精准医学研究院 精准医疗战略项目， 基于多组学数据的智能化中晚期肝癌转化治疗决策研究，2022/08-2025/07 主持</li>
                        <li>清华大学国强研究院 人工智能与机器人项目，2021GQG1020，生物调控网络知识启发下的新型AI模型的构建及其在癌症早诊上的应用，2022/04-2024/03 主持</li>
                        <li>清华大学春风基金，2021Z99CFY022，针对微生物感染的新型核酸检测技术研发，2021/09-2023/09 主持</li>
                        <li>合肥综合性国家科学中心大健康研究院 全球遴选项目, cfRNA为核心的多组学在肺癌筛查上的应用研究, 2024-2027 主持</li>
                        <li>Bayer AI制药项目, AI driven drug design targeting RNAs，2023-2024 主持</li>
                      </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
