<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h4>主要服务和产品类型</h4><br><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">siRNA Design and Test</h4>
                    <p class="text-muted">Oligo (siRNA) targeting mRNA and lncRNA.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Platform</h4>
                    <p class="text-muted">Bioinformatics and AI based platform for drug design targeting noncoding RNA.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Small Molecule Drug Design and Test</h4>
                    <p class="text-muted">Ligand targeting structured RNA.</p>
                </div>
            </div>
        </div>
<hr>
        <div class="row text-center">
        我们针对<b>非编码 RNA</b>开发AI赋能的药物设计平台，主要应用产品有2类：
        <li>1. <b>siRNA</b> AI设计 +  实验筛选， 主要针对肿瘤疾病，尤其是肝癌，也包括一些其他肝相关的疾病。</li>
        <li>2. <b>Ligand</b> AI设计 +  实验筛选， 主要针对感染性疾病，靶标RNA病毒（如新冠病毒）等微生物中的RNA。  </li>
        </div>
    </section>
