<!-- Services Section -->
    <section id="platform">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Platform & Services</h2>
                    <h4>主要平台和产品类型</h4><br><br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font style="color:#c56d1b">siRNA</font> Drug Design</h4>
                    <p class="text-muted">Oligo (siRNA) targeting mRNA and lncRNA (long noncoding RNA)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font style="color:#c56d1b">AI</font> Platform for <font style="color:#c56d1b">RNA</font> Therapy</h4>
                    <p class="text-muted">Bioinformatics and AI based platform for drug design targeting RNA</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font style="color:#c56d1b">Small Molecule</font> Drug Design</h4>
                    <p class="text-muted">Ligand targeting structured noncoding RNA</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font style="color:#196bdd">RNA Vaccine</font> Design</h4>
                    <p class="text-muted">Design RNA vaccine by optimizing free energy change and codon usage </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font style="color:#196bdd">AI</font> Platform for <font style="color:#196bdd">RNA</font> Prevention</h4>
                    <p class="text-muted">Bioinformatics and AI based platform of vaccine design and biomarker discovery for the prevention of diseases</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><font style="color:#196bdd">cfRNA Biomarker</font> Discovery</h4>
                    <p class="text-muted">Cell-free RNA (cfRNA) discovery for disease diagnosis and prognosis, for instance, early cancer screen </p>
                </div>
            </div>
        </div>
<hr>
        <div class="row text-center">
        我们重点针对<b>非编码 RNA</b>开发AI赋能的医疗诊断和药物设计平台，主要应用产品有：
        <br><b>【治疗类】</b>
        <li><b>siRNA Drug</b> AI设计 +  实验筛选， 主要针对肿瘤疾病，尤其是肝癌，也包括一些其他肝相关的疾病。</li>
        <li><b>Ligand Drug</b> AI设计 +  实验筛选， 主要针对感染性疾病，靶标RNA病毒（如新冠病毒）等微生物中的RNA。  </li>
        <b>【预防类】</b>
        <li><b>RNA Vaccine</b> AI设计 +  实验筛选，主要针对感染性疾病的预防。  </li>
        <li><b>cfRNA Biomarker</b> 测序和生物信息学挖掘 + AI模型计算，主要针对癌症、自身免疫疾病等复杂性疾病的诊断和预后。  </li>
        </div>
    </section>
