<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h4>管理团队</h4><br><br>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">基于<a href="https://www.ncrnalab.org/open/">清华实验室团队</a>，不断招募行业精英.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="lab" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lab @ Tsinghua University</h2>
                    <h4>实验室</h4><br><br>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.ncrnalab.org">实验室@清华</a>
                </div>
            </div>
        </div>
    </section>
